<h3>Welcome, <%= current_user.full_name %>!</h3>

<% if current_user.projects.any? %>
  <table data-toggle="table" class="table table-striped">
    <thead>
      <tr>
        <th>Project Name</th>
        <th>Your Role</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% current_user.projects.each do | project | %>
        <tr>
          <td><%= project.name %></td>
          <td><%= current_user.get_role_name %></td>
          <td>
            <% if current_user.is? :manager %>
              <%= link_to "<i class='fa fa-envelope fa-fw'></i>&nbsp; Awaiting Response".html_safe, user_response_path( current_user ) %>
            <% else %>
              <%= link_to "<i class='fa fa-pencil fa-fw'></i>&nbsp; Report a Bug".html_safe, new_user_response_path( current_user ) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
<% end %>